a:link,
a:visited {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:link:active,
a:visited:active {
    color: (internal value);
}

a:focus,
a:hover {
    color: whitesmoke;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btn {
    width: 100%;
}

.pageloader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.modal-title,
.modal-body {
    color: black;
    font-size: large;
}